/* static/css/gallery.css
*/

:root{
    --page-bg: #fbfcfd;;
    --frame-bg: #fff;
}

/* Page layout */
html,body{height:100%;margin:0}
body.gallery-page{
    background:var(--page-bg);
    -webkit-font-smoothing:antialiased
}

.gallery-wrap{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top: calc(var(--site-header-occupy) + 12px);
    box-sizing:border-box;
}


/* If any parent (like .gallery-wrap or .site-main) uses flexbox,
   force vertical stacking */
.gallery-wrap,
.site-main {
    display: flex;
    flex-direction: column;
    /* visual breathing space between the elements of gallery rows*/
    gap: 20px;
}
@media (max-width:640px) {
    .gallery-wrap { padding-top: calc(var(--site-header-occupy) + 8px); }
    .gallery-wrap,
    .site-main {
        gap: 5px;
    }
}