@import "header.css";
@import "nav.css";
@import "styles.css";
@import "gallery.css";
@import "gallery-grid.css";


html,
body {
    height: 100%;
}

main#content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
