{{/* layouts/partials/header.html */}}

{{ if .IsHome }}
<header class="home-header">
    <div class="home-header-inner">
        <div class="hero-title-wrap">
            <h1 class="hero-title">
                <a href='{{ "/" | relURL }}' class="hero-title-link">Himanjal Sharma</a>
            </h1>
            <!-- <div class="hero-underline" aria-hidden="true"></div> -->
        </div>
    </div>
</header>

{{ else }}
<header class="site-header">
    <div class="wrap header-inner">
        <a class="brand" href='{{ "/" | relURL }}'>Himanjal Sharma</a>

        <nav class="main-nav">
            <a href='{{ "/" | relURL }}'>Home</a>
            <a href='{{ "about/" | relURL }}'>About</a>
            <a href='{{ "gallery/" | relURL }}'>Gallery</a>
        </nav>
    </div>
</header>
{{ end }}
