/* 01-reset-base.css */
html,body { height:100%; margin:0; padding:0; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
* { box-sizing: border-box; }
.hero { position:relative; width:100%; height:100vh; overflow:hidden; background-repeat:no-repeat; background-position:center; background-size:cover; }
.home-header { position:absolute; top:0; left:0; width:100%; z-index:50; pointer-events:none; }
